<a href="https://colab.research.google.com/github/vinthegreat84/PFE-Lab/blob/main/TEMPERATURE_EXERCISE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **TEMPERATURE EXERCISE**

Created By: Vinay Babu, Petroleum Engineering (UIE), Chandigarh University, Mohali

> # **Problem Statement**

The following exercise illustrates Borehole Temperature Corrections as described in *Glover, 2000*.


**Glover, P.W.J.**, Petrophysics MSc Course Notes, Department of Geology and Petroleum Geology, University of Aberdeen, UK, 86-87, 2000.

This exercises uses data from the Elysian Field.

**Well:** 24-1X

**Depth Range:** 2900 – 3300 m

**Lithology**: Variable

Several logs have been run in well 24-1X of the Elysian Field between depths of 2900 m and 3300 m (the bottom of the borehole).

The following data were collected:

Process | Depth (m)| Temp.(°F) | Time & Date | T (hours) | (t+T)/T 
--------|----------|----------|----------|----------|----------
Drilling Stopped | 3300 | - | 22:00/15th | -  | - 
Mud Circulation Stopped | - | - | 04:00/16th | - | - 
DIL log | 3300 | 241 | 12:25/16th 
FDC log | 3300 | 257 | 15:00/16th
SNP log | 3300 | 266 | 17:30/16th
Dipmeter | 3300 | 273 | 20:30/16th

1.   Calculate the mud circulation time, t, in hours.
2.   Calculate the recovery time, T (hours), for each logging run and fill in last but one column.
*Note: remember to use decimal time in hours.*
3. Calculate (t+T)/T, and fill in the table.
4. Make a Horner plot of temperature on the y-axis (linear, 230 to 310°F) against (t + T)/T on the x-axis (linear 1.0 to 2.0).
5. What is the true formation temperature at 3300 m in °F and in °C? (Note that to convert °F to °C subtract 32, divide the result by 9, and then multiply by 5.)
6. Given that the mean annual temperature of the sea-floor is 10°C and that the sea-floor is 300 m below the logging depth measurement point, calculate the mean temperature gradient in the well in °C/m and in °F/m.
7. What is the temperature in °F and in °C at 3100 m?

> ## **Solution**

1. The mud circulation time, t = 6 hours (from 22:00/15th to 04:00/16th).

In [ ]:
# creating variable t for the mud circulation time
t = 6

In [ ]:
# importing all the necessary packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')
import seaborn as sns 
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotnine

!pip install scikit-learn

# Scientific libraries
from numpy import arange,array,ones
from scipy import stats

!pip install dfply
import dfply
from dfply import *

from plotnine import ggplot, aes

# package for plot scales
from mizani.formatters import comma_format

import ipywidgets

import warnings
warnings.filterwarnings('ignore') 

from IPython.display import display

In [ ]:
# intialise data of lists.
data = {'Process':['DIL log', 'FDC log', 'SNP log', 'Dipmeter'],
        'Depth_(m)':[3300, 3300, 3300, 3300],
        'Temp._°F': [241, 257, 266, 273],
        'T_(hours)': [8.25, 11.0, 13.5, 16.5]}
 
# Create DataFrame
df = pd.DataFrame(data)

In [ ]:
df['(t+T)/T'] = (t + df['T_(hours)']) / df['T_(hours)']
df

2. The recovery time, T (hours), is shown in the table.

 3. (t+T)/T is shown in the table.

In [ ]:
# Fitting dataframe into linear regression

from sklearn.linear_model import LinearRegression

model = LinearRegression()

x = df.loc[:, df.columns == '(t+T)/T']
y = df.loc[:, df.columns == 'Temp._°F']

model.fit(x,y)
model.predict(x)

plt.scatter(x, y,  color='black')
plt.plot(x, model.predict(x), color='blue', linewidth=3)
plt.xlim([1, 2])
plt.ylim([230, 310])
plt.xlabel('(t+T)/T')
plt.ylabel('Temperature (°F)')
plt.show()

4. See Graph

In [ ]:
print('intercept:', model.intercept_)

In [ ]:
print('slope:', model.coef_)

# Temperature Conversion

In [ ]:
# function for temperature conversion: °C to °F
def c_to_f(x):
  x = 9/5*x + 32
  return x

# function for temperature conversion: °F to °C
def f_to_c(x):
  x = 5/9* (x - 32)
  return x

In [ ]:
# setting T/(t+T)=1
x = 1

formation_depth_m = 3300 # The formation depth at 3300 m

# y_pred (Temperature (°F)) at x (T/(t+T)) = 1
formation_temperature_F = model.coef_ * x + model.intercept_
formation_temperature_C = f_to_c(formation_temperature_F)

# array to scalar conversion
formation_temperature_F = np.asscalar(formation_temperature_F)
formation_temperature_C = np.asscalar(formation_temperature_C)

print('5. The true formation temperature at', formation_depth_m, 'm is', round(formation_temperature_F, 5), '°F', 'or', 
      round(formation_temperature_C, 5), '°C')

In [ ]:
sf_temp_C = 10 # The mean annual temperature of the sea-floor is 10°C
sf_depth_m = 300 # The sea-floor is 300 m below the logging depth measurement point


sf_temp_F = c_to_f(sf_temp_C)


mean_temperature_gradient_C = (formation_temperature_C - sf_temp_C) / (formation_depth_m - sf_depth_m) # in °C/m

mean_temperature_gradient_F = (formation_temperature_F - sf_temp_F) / (formation_depth_m - sf_depth_m) # in °F/m


print('6. The mean temperature gradient in the well is', round(mean_temperature_gradient_C, 5), '°C/m', 'or', round(mean_temperature_gradient_F, 5), '°F/m')

In [ ]:
depth = 3100 # The depth at which temperature is to be calculated

T_3100_C = mean_temperature_gradient_C * depth # in °C

T_3100_F = c_to_f(T_3100_C) # in °F


print('7. The temperature at', depth, 'm is', round(T_3100_C, 5), '°C', 'or', round(T_3100_F, 5), '°F')